@import '../../../styles/variables';

.location-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 2vh 0;
}

.location-container__description {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh;

    .location-container__profile-title {

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .title {
            font-size: 2.5rem;
            font-weight: 400;
            color: $main-color;
        }

        .subtitle {
            font-size: 1.5rem;
            font-weight: 400;
            color: $main-color;
        }
    }

    .location-container__profile {
        
        display: flex;
        flex-direction: row;
        gap: 2vh;

        .location-container__profile-description {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: right;
            color: $main-color;
            font-size: 1.25rem;
            padding: 1vh 0;
        }
        
        .location-container__profile-piture {
            width: 96px;
            height: 96px;
            border-radius: 100%;
            background-color: gray;
        }
    }
}

