@import "../../styles/variables";

* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
}

main {
	margin: 4% 10%;
	min-height: 68vh;
}

@media screen and (max-width: $mobile-size) {
	main {
		margin: 5%;
		min-height: 69vh;
	}
}
