@import '../../../styles/variables';

.tag-container {
    @include center;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: $main-color;
    color: #fff;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}