@import '../../../styles/variables';

$width: 100%;

.dropdown {
    overflow: hidden;
    width: $width;
    background-color: #f6f6f6;
    transition: all 0.5s ease;
}

.dropdown__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    width: $width;
    padding: 0 2%;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: $main-color;
}

.dropdown__content {
    padding: .5rem 1rem;
    border-radius: 10px;
    color: $main-color;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icon-rotate {
    transform: rotate(180deg);
}